<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layout/LayoutPadrao}">


<head>

	<style>
		.parallax-window {
		    min-height: 300px;
		    background: transparent;
		}
	</style>
	
</head>

<body>

<th:block layout:fragment="conteudo">
	
	<div class="parallax-window" data-parallax="scroll" data-image-src="https2://unsplash.it/1500/800?random&gravity=center"></div>

	<section id="home-section" class="home-section">
		<div class="block-header">
             <h2>Home
                 <small>text bla bla</small>
             </h2>
         </div>
	</section>
	
	<div class="parallax-window" data-parallax="scroll" data-image-src="https2://unsplash.it/1500/800?random&gravity=center"></div>
	
	<section id="ideia-section" class="home-section">
		<div class="block-header">
             <h2>Ideia
                 <small>text bla bla</small>
             </h2>
         </div>
		<br/><br/><br/><br/><br/>
		<br/><br/><br/><br/><br/>
		<br/><br/><br/><br/>
	</section>
	
	<div class="parallax-window" data-parallax="scroll" data-image-src="https2://unsplash.it/1500/800?random&gravity=center"></div>
		<section id="localizacao-section" class="home-section">
		<div class="block-header">
             <h2>Localizacao
                 <small>text bla bla</small>
             </h2>
         </div>
         
         <div id="gmLocalizacao" style="width:100%;height:400px;"></div>
         
         
		<br/><br/><br/><br/><br/>
		<br/><br/><br/><br/><br/>
		<br/><br/><br/><br/>
	</section>
	
	<div class="parallax-window" data-parallax="scroll" data-image-src="https2://unsplash.it/1500/800?random&gravity=center"></div>
	
	<section id="precos-section" class="home-section">
		<div class="block-header">
             <h2>Preço
                 <small>text bla bla</small>
             </h2>
         </div>
		<br/><br/><br/><br/><br/>
		<br/><br/><br/><br/><br/>
		<br/><br/><br/><br/>
	</section>
	
	<div class="parallax-window" data-parallax="scroll" data-image-src="https2://unsplash.it/1500/800?random&gravity=center"></div>

	<section id="agenda-section" class="home-section">
		<div th:include="fragments/Calendario::calendario"></div>
	</section>
	
	<div class="parallax-window" data-parallax="scroll" data-image-src="https2://unsplash.it/1500/800?random&gravity=center"></div>
	
	<section id="parceiros-section" class="home-section">
		<div class="block-header">
             <h2>Parceiros
                 <small>text bla bla</small>
             </h2>
         </div>
		<br/><br/><br/><br/><br/>
		<br/><br/><br/><br/><br/>
		<br/><br/><br/><br/>
	</section>
	
	
	
	<blockquote class="blockquote-reverse m-b-25">
		<p>Para o mínimo de perfeição, o máximo de repetição.</p>
		<footer>
			Amanda Lemos em <cite title="https://pensador.uol.com.br/perfeicao_repeticao/">Pensador</cite>
		</footer>
	</blockquote>

</th:block>


<th:block layout:fragment="javascript-extra">
<script>
	function initMap() {
		var studio = {lat: -12.9966512, lng: -38.4460546};
		
		var mapProp= {
			//mapTypeId: google.maps.MapTypeId.ROADMAP,
			mapTypeId: google.maps.MapTypeId.HYBRID,
			center: studio,
		    zoom:20
		};
		
		//var image = 'images/beachflag.png';
        var map = new google.maps.Map(document.getElementById('gmLocalizacao'), mapProp);
        var marker = new google.maps.Marker({
        	//icon: image,
        	title: 'Studio Casa 360',
        	animation: google.maps.Animation.DROP,
        	position: studio,
          	map: map
        });
        
        
//         var contentString = '<div id="content">'+
//         '<div id="siteNotice">'+
//         '</div>'+
//         '<h1 id="firstHeading" class="firstHeading">Uluru</h1>'+
//         '<div id="bodyContent">'+
//         '<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
//         'sandstone rock formation in the southern part of the '+
//         'Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) '+
//         'south west of the nearest large town, Alice Springs; 450&#160;km '+
//         '(280&#160;mi) by road. Kata Tjuta and Uluru are the two major '+
//         'features of the Uluru - Kata Tjuta National Park. Uluru is '+
//         'sacred to the Pitjantjatjara and Yankunytjatjara, the '+
//         'Aboriginal people of the area. It has many springs, waterholes, '+
//         'rock caves and ancient paintings. Uluru is listed as a World '+
//         'Heritage Site.</p>'+
//         '<p>Attribution: Uluru, <a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">'+
//         'https://en.wikipedia.org/w/index.php?title=Uluru</a> '+
//         '(last visited June 22, 2009).</p>'+
//         '</div>'+
//         '</div>';

//     var infowindow = new google.maps.InfoWindow({
//       content: contentString
//     });
        
//         marker.addListener('click', toggleBounce);
		 
	}
</script>

<script th:src="@{/vendors/parallax/parallax.min.js}"></script>
<script th:src="@{/js/AfterMidnight.Calendar.js}"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpA84V0KRzaFg0zpKED34HCxAwxvwda7U&callback=initMap"></script>


	
</th:block>

</body>
</html>