<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layout/LayoutPadrao}">


<head>

	<style>
		.parallax-window {
		    min-height: 300px;
		    background: transparent;
		}
	</style>
	
</head>

<body>

<th:block layout:fragment="conteudo">
	
	<section id="home-section" class="home-section">
		<div class="block-header">
             <h2>Home
                 <small>text bla bla</small>
             </h2>
         </div>
	</section>
	
	<section id="ideia-section" class="home-section">
		<div class="block-header">
             <h2>Ideia
                 <small>text bla bla</small>
             </h2>
         </div>
	</section>
	
	<section id="localizacao-section" class="home-section">
		<div class="block-header">
             <h2>Localização
                 <small></small>
             </h2>
             <blockquote class="blockquote-reverse m-b-25">
				<p>Salvador, Bahia, território africano, Baiano sou eu, é você, somos nós, uma voz, um tambor.</p>
				<footer>
					 <cite title="#">Raiz de Todo Bem, Saulo Fernandes</cite>
				</footer>
			</blockquote>
         </div>
         
         <!-- 
         https://developers.google.com/maps/documentation/embed/guide#optional_parameters
         TODO: http://www.techtudo.com.br/dicas-e-tutoriais/noticia/2010/12/como-cadastrar-sua-empresa-no-google-maps.html
         <iframe
			  width="100%"
			  height="450"
			  frameBorder="0"
			  style='border:none'
			  src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyCpA84V0KRzaFg0zpKED34HCxAwxvwda7U
			    &destination=Rua+Coronel+Durval+Mattos,+360+-+Costa+Azul,+Salvador+-+BA,+41760-160&attribution_source=Google+Maps+Embed+API&attribution_web_url=http://www.casa360.studio/" allowfullscreen>
			</iframe>
          -->
         
		<div style='text-align: center;'>
			<iframe
			  width="100%"
			  height="450"
			  frameBorder="0"
			  style='border:none'
			  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCpA84V0KRzaFg0zpKED34HCxAwxvwda7U
			    &q=Rua+Coronel+Durval+Mattos,+360+-+Costa+Azul,+Salvador+-+BA,+41760-160&attribution_source=Google+Maps+Embed+API&attribution_web_url=http://www.casa360.studio/" allowfullscreen>
			</iframe>
		</div>
	</section>
	
	<section id="precos-section" class="home-section">
		<div class="block-header">
             <h2>Preço
                 <small>text bla bla</small>
             </h2>
         </div>
	</section>
	
	<section id="agenda-section" class="home-section">
		<div th:include="fragments/Calendario::calendario"></div>
	</section>
	
		
	<section id="parceiros-section" class="home-section">
		<div class="block-header">
             <h2>Parceiros
                 <small>text bla bla</small>
             </h2>
         </div>
	</section>
	
	
	
	<blockquote class="blockquote-reverse m-b-25">
		<p>Para o mínimo de perfeição, o máximo de repetição.</p>
		<footer>
			Amanda Lemos em <cite title="https://pensador.uol.com.br/perfeicao_repeticao/">Pensador</cite>
		</footer>
	</blockquote>

</th:block>


<th:block layout:fragment="javascript-extra">
<script>
	
</script>

<script th:src="@{/vendors/parallax/parallax.min.js}"></script>
<script th:src="@{/js/AfterMidnight.Calendar.js}"></script>


	
</th:block>

</body>
</html>