.home-section{
	padding-top: 10px;
}


.page-header {
  padding-bottom: 0px;
  background-color: #fafbfd;
  margin-bottom: 20em;
}
.page-header h1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  height: 80px;
  color: #333333;
}
.am-page-header-controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
}

